.container {
    background-color: rgb(15 23 42) ;
    border: 2px color black;
    width:  1080px;
    height: 820px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1200px 10em 1fr;
    border-radius: 10%;


}
.Elemento1 {
background-color:  rgb(15 23 42);
grid-column: 12/3; 
grid-row: 12/2;
}
.Gif1 {
width: 1200px;
border-radius: 50px;
place-items: center;

}
.Elemento2 {
    background-color:  rgb(15 23 42) ;
grid-column: 1/3; 
grid-row: 1;
place-items: center;
}
.Elemento3 {
    background-color:  rgb(15 23 42) ;
grid-column: 1/1; 
grid-row: 1;
place-items: center;
}
.Elemento4 {
    background-color:  rgb(15 23 42) ;
grid-column: 1/1; 
grid-row: 1;
place-items: center;
}
.Elemento5 {
    background-color: rgb(15 23 42) ;
grid-column: 1/1;
grid-row: 1; 
place-items: center;
}
.Elemento6 {
    background-color: rgb(15 23 42) ;
grid-column: 1/1;
grid-row: 1; 
place-items: center;
}
.Elemento7 {
    background-color:  rgb(15 23 42) ;
grid-column: 1/1;
grid-row: 1; 
place-items: center;
}