.container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    width: 50%;
    height: 100%;
    gap: 10px   ;
    padding: 10px;
}

.uno {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; / Centra la imagen /
    background-color: white;
}

.dos {
    background-color: blueviolet;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.tres {
    background-color: brown;
    grid-column: 1 / 3; 
    grid-row: 3; 
}

.tres img {
    width: 100%;
    height: auto;
    object-fit: cover; / Cubre todo el contenedor manteniendo la proporción 
    object-position:center

}

.cuatro {
    background-color: chocolate;
    grid-column: 2;
    grid-row: 1/3;
}

.cuatro img {
    width: 100%;
    height: 100%;
    object-fit: cover; / Cubre todo el contenedor manteniendo la proporción 
    object-position:center
}